@import '../variables';

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;

  @media (max-width: 768px) {
    padding: 20px 0;
  }

  @media (max-width: 576px) {
    padding: 70px 0 10px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-direction: column-reverse;
    }
  }

  a {
    @media (max-width: 768px) {
      align-self: self-start;
    }

    @media (max-width: 576px) {
      align-self: center;
    }
  }

  &__logo {
    display: flex;

    img {
      margin-right: 15px;
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: #7b7b7b;
    }
  }

  &__cart {
    @media (max-width: 768px) {
      align-self: flex-end;
      margin-bottom: 10px;
      z-index: 100;
    }

    @media (max-width: 576px) {
      position: fixed;
      top: 20px;
      opacity: 0.75;
    }
  }
}
